AI Mentor Chatbot for Innomatics.json
{
  "name": "AI Mentor Chatbot for Innomatics",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        0
      ],
      "id": "83d0a236-c15c-485f-92d5-1b9b619f65c5",
      "name": "Telegram Trigger",
      "webhookId": "a4c24e19-4119-43cc-afef-0321d3ef6620",
      "credentials": {
        "telegramApi": {
          "id": "oUo1syDrrNrtLTwl",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User message: {{ $json.message.text }}\nSelected topic: {{ $json.topic || \"none\" }}\ngive the response as 100 words\nBased on the above, continue the conversation politely.\n",
        "options": {
          "systemMessage": "=You are an AI mentor chatbot for students.\n\nYour responsibilities:\n1. If the user greets (hi, hello, or hey), greet politely and ask them to choose one topic:\n   - Python\n   - EDA\n   - Machine Learning\n   - Deep Learning\n\n2. If a topic is already selected \n(provided by {{ $json.topic || \"none\" }}), do NOT ask again. \n   Instead, ask the student to type their technical doubt.\n\n3. When the student sends a doubt (non-greeting message), give a clear, step-by-step explanation.\n\n4. Keep responses polite, simple, and supportive.\n\n5. Never write long paragraphs. Be concise and helpful like a real mentor.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -176,
        0
      ],
      "id": "ed77ddf3-d610-42f4-996e-885764478481",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -176,
        192
      ],
      "id": "4bbe7651-5c15-47f3-88ea-9454fff38823",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0PANmCXLUIOFxKA0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -80,
        192
      ],
      "id": "0547e055-2cfd-4daa-aea4-9bdaf5d78d9a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        0
      ],
      "id": "c1025c58-35e2-4be6-8a9f-6b0aa4da68c2",
      "name": "Send a text message",
      "webhookId": "2bb17d26-8b58-4eee-bd44-31dc76676f15",
      "credentials": {
        "telegramApi": {
          "id": "oUo1syDrrNrtLTwl",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "26837c22-5cf9-40d4-ad38-fb5e1041ded2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3918817a9ef6ae079ae880cf8e09f604a156d339b063011f9f2662c655bd5675"
  },
  "id": "8IDlT2OQfG704v6H",
  "tags": []
}